@import "../../variables.scss";

.social-item-container {
  display: flex;
  flex-direction: column;
  margin: 0 .5rem 1.25rem .5rem;
  max-width: 124px;
  text-decoration: none;
  color: $font-light;

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.11);
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.35s ease-in-out;

    .icon {
      font-size: 4.25rem;
    }
  }

  .name {
    margin-top: 1.2rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
  }

  &.ln:hover {
    .icon-container {
      background-color: rgba(9, 125, 187, 0.7);
    }
  }

  &.gh:hover {
    .icon-container {
      background-color: rgba(51, 51, 51, 0.7);
    }
  }

  &.so:hover {
    .icon-container {
      background-color: rgba(188, 187, 187, 0.7);
    }
  }

  &.bl:hover {
    .icon-container {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }

  &.fb:hover {
    .icon-container {
      background-color: rgba(92, 4, 255, 0.7);
    }
  }
}

@media only screen and (max-width: $size-small) {
  .social-item-container {
    width: 42.5%;
    align-items: center;

    .icon-container {
      width: 7rem;
      height: 7rem;

      .icon {
        font-size: 3.5rem;
      }
    }
  }
}
