@import "../../variables.scss";

.project-container {
  width: 47.5%;
  margin-bottom: 2rem;
  -webkit-tap-highlight-color: transparent;
  box-shadow: $content-shadow;

  .heading {
    font-size: 1rem;
    background-color: #ddd;
    padding: 0.25rem 0 0.25rem 0.25rem;

    .fa-circle {
      padding-right: 0.5rem;

      &.red {
        color: red;
      }

      &.yellow {
        color: yellow;
      }

      &.green {
        color: green;
      }
    }
  }

  .body {
    position: relative;
    overflow: hidden;
    cursor: pointer;

    .project-image {
      transition: 0.3s transform ease-in-out;
      max-width: 100%;
      max-height: 100%;
    }

    .overlay {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0);
      opacity: 0;
      z-index: 20;
      transition: 0.35s all ease-in-out;

      display: flex;
      align-items: center;
      justify-content: center;

      .description-container {
        display: flex;
        text-align: center;
        max-width: 256px;
        color: $font-light;
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 72px;

        transition: .75s all ease-in-out;
      }
    }

    &:hover {
      .project-image {
        transform: scale(1.1);
      }

      .overlay {
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 1;

        .description-container {
          transform: translate(0px, -36px);
        }
      }
    }
  }
}

@media only screen and (max-width: $size-small) {
  .project-container {
      width: 100%;
  }
}