html, body {
  padding: 0;
  margin: 0;
  font-family: 'Heebo', sans-serif;
  width: 100%;
  overflow-x: hidden;
  background-color: #f7f7f7;

  &.disable-scroll {
    overflow-y: hidden!important;
  }
}
