@import "../../variables.scss";

.info-card-container {
  display: flex;
  flex-direction: row;
  background-color: $background-primary;
  box-sizing: border-box;
  padding: 1.5rem 1.5rem 0 1.5rem;
  width: 768px;
  border-left: 1px solid $info-border-color;
  border-right: 1px solid $info-border-color;

  .logo-container {
    > img {
      width: 64px;
      height: 64px;
    }
  }

  .details-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 0 1.5rem 1.5rem;

    &:not(.last-card) {
      border-bottom: 1px solid $info-border-color;
    }
  }
}

@media only screen and (max-width: 768px) {
  .info-card-container {
      width: 100%;
      flex-direction: column;
      padding: 1.75rem 1.65rem 0 1.65rem;

      .logo-container {
        display: flex;
        justify-content: center;
        margin-bottom: 16px;
      }

      .details-container {
        padding: 0 0 1.5rem 0;
      }
  }
}