@import "../../variables.scss";

.info-card-container {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: $background-primary;
  box-sizing: border-box;
  padding: 1.5rem 1.5rem 0 1.5rem;
  width: 768px;
  border-left: 1px solid $info-border-color;
  border-right: 1px solid $info-border-color;

  &:before {
    content: "";
    width: 0.2rem;
    background-color: $theme-color;
    position: absolute;
    left: 7.5%;
    z-index: 1;
    height: 100%;
  }

  .logo-container {
    z-index: 1;

    > img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      border: 0.2rem solid $theme-color;
      z-index: 2;
      background-color: $background-primary;
    }
  }

  .details-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 0 1.5rem 1.5rem;
    border-bottom: 1px solid $info-border-color;
  }

  &.last-card {
    &:before {
      display: none;
    }

    .details-container {
      border-bottom: none;
    }
  }
}

@media only screen and (max-width: $size-small) {
  .info-card-container {
    width: 100%;
    flex-direction: column;
    padding: 1.75rem 1.65rem 0 1.65rem;

    &:before {
      display: none;
    }

    .logo-container {
      display: flex;
      justify-content: center;
      margin-bottom: 16px;
    }

    .details-container {
      padding: 0 0 1.5rem 0;
    }
  }
}
