@import "../../variables.scss";

.project-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  cursor: pointer;

  .modal-content-container {
    display: flex;
    flex-direction: column;
    background-color: $background-secondary;
    max-width: 42.5%;
    max-height: 95%;
    position: relative;
    overflow-y: auto;
    cursor: default;

    .modal-body-container {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 0.85rem 1.05rem 1.05rem 1.05rem;

      .header-container {
        margin: 0 0 1.05rem 0;

        h2 {
          &:after {
            border-bottom: none;
          }
        }

        .primary {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .modal-heading {
            display: flex;
            flex-direction: column;
            font-size: 1.75rem;
            margin: 0;
          }
        }

        .close-icon {
          color: rgb(228, 38, 38);
          font-size: 2.1rem;
          cursor: pointer;
        }
      }

      .content-container {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: auto;
        overflow-x: hidden;
        margin-bottom: 1.05rem;

        .technologies-container {
          display: flex;
          flex-direction: row;
          justify-content: center;
          justify-content: space-evenly;
          flex-wrap: wrap;
          margin: 1.25rem 0 1.25rem 0;
        }
      }

      .footer-container {
        max-height: 15%;
        margin-top: auto;

        .button-links {
          display: flex;
          flex-direction: row;
    
          .link-button {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            padding: 0.85rem 0 0.85rem 0;
            font-size: 1.25rem;
            color: $font-light;
            border: none;
            transition: 0.25s background-color ease-in-out;
            cursor: pointer;
    
            .fa {
              padding-left: 0.35rem;
            }
          }
    
          .button-github {
            background-color: #333;
            margin-right: 1rem;
    
            &:hover {
              background-color: #464646;
            }
          }
    
          .button-website {
            background-color: $theme-color;
    
            &:hover {
              background-color: $theme-light;
            }
          }
        }
      }
    }

    .project-image {
      max-width: 100%;
    }

    .released-date {
      font-weight: bold;
      font-size: 1rem;
    }
  }
}

@media only screen and (max-width: $size-small) {
  .project-modal-container {
    .modal-content-container {
      max-width: 100%;
      width: 100vw;
      max-height: 100%;
      height: 100vh;
      overflow: hidden;

      .modal-body-container {
        .header-container {
          margin: 0;
        }

        p {
          font-size: 1.15rem;
        }
      }
    }
  }
}
