@import "./variables.scss";

.app-container {
  font-family: Arial, Helvetica, sans-serif;
  color: $font-color;
  overflow-x: hidden;

  h1,
  h2 {
    margin: 0;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3,
  h4,
  h5 {
    margin: 0 0 0.65rem 0;
  }

  h3 {
    font-size: 1.7rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  h5 {
    font-size: 1.1rem;
  }

  p {
    margin: 0.25rem 0 0.35rem 0;
    line-height: 1.4;
    font-size: 1.25rem;
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2.25rem 0 3.75rem 0;

    h2 {
      margin: 0 0 2.5rem 0;

      &:after {
        content: "";
        margin-top: 0.45rem;
        border-bottom: 1px solid $theme-color;
        width: 50%;
        position: relative;
        height: 1px;
        display: block;
        left: 25%;
      }
    }

    .content-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      max-width: 968px;
    }

    &.section-secondary {
      background-color: $background-secondary;
    }

    &.section-theme {
      background-color: $theme-color;
      color: $font-light;
    }

    &.section-dark {
      background-color: $dark;
      color: $font-light;
    }
  }
}

@media only screen and (max-width: $size-small) {
  .app-container {
    .content-container {
      margin: 0;
    }

    .section {
      padding: 1.5rem 0 2.25rem 0;
    }
  }
}
