@import "../../variables.scss";

.contact-container {
  width: $size-small;
  display: flex;
  flex-direction: column;

  .social-container {
    display: flex;
    flex: 1;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 1px solid $font-light;
    padding-bottom: 2.25rem;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.25rem 0 0 0;

    .form {
      display: flex;
      flex-direction: column;
      width: 65%;

      input,
      textarea {
        background-color: $theme-dark;
        color: $font-light;
        border: none;
        border-radius: 0.25rem;
        padding: 0.75rem;
        font-size: 1.05rem;
        margin-bottom: 1rem;
        transition: 0.25s background-color ease-in-out;

        &::placeholder {
          color: $font-light;
        }

        &:focus {
          background-color: $theme-darker;
        }
      }

      textarea {
        resize: none;
        height: 5rem;
        font-family: Arial, Helvetica, sans-serif;
      }

      button {
        background-color: $theme-color;
        border: 1px solid $font-light;
        color: $font-light;
        border-radius: 0.25rem;
        padding: 0.75rem;
        font-size: 1.15rem;
        transition: 0.25s all ease-in-out;
        cursor: pointer;

        &:hover {
          background-color: $font-light;
          color: $theme-color;
        }
      }
    }
  }
}

@media only screen and (max-width: $size-small) {
  .contact-container {
    width: 100%;

    .social-container {
      justify-content: center;
      justify-content: space-evenly;
    }

    .form-container {
      text-align: center;

      .form {
        width: 100%;
        box-sizing: border-box;
        padding: 0 1.25rem 0 1.25rem;
      }
    }
  }
}
