@import './variables.scss';

.app-container {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;

  h1, h2 {
    margin: 0;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3, h4, h5 {
    margin: 0 0 0.65rem 0;
  }

  h3 {
    font-size: 1.65rem;
  }

  h4 {
    font-size: 1.35rem;
  }

  h5 {
    font-size: 1rem;
  }

  p {
    margin: .25rem 0 .35rem 0;
    line-height: 1.4;
    font-size: 1.15rem;
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1.75rem 0 2rem 0;

    &.secondary {
      background-color: $background-secondary;
    }

    h2 {
      margin: 0 0 2.5rem 0;
    }

    .content-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      max-width: 768px;
    }
  }
}