$theme-color: #ec1aec;
$theme-dark: #c510c5;
$theme-darker: #bb0fbb;
$theme-light: #ff2fff;
$dark: #333333;

$background-primary: #FFF;
$background-secondary: #f8f8f9;
$info-border-color :#dcd9d9;

$font-color: #494949;
$font-light: #FFF;

$content-shadow: 0px 10px 40px -10px rgba(0, 64, 128, 0.2);

$size-small: 768px;
$size-medium: 1024px;