$theme-color: #f9873b;
$theme-dark: #e15e07;
$theme-darker: #963e03;
$theme-light: #ff9956;
$dark: #333333;

$background-primary: white;
$background-secondary: #f8f8f9;
$info-border-color :#dcd9d9;

$font-color: #494949;

$content-shadow: 0px 10px 40px -10px rgba(0, 64, 128, 0.2);
