@import "../../variables.scss";

.section-about {
  .about-container {
    margin: 0;

    .portrait {
      border: 4px solid $theme-color;
      border-radius: 50%;
      width: 256px;
      height: 256px;
    }

    .about-text {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;

      margin: 1.25rem 2.25rem 0 2.25rem;
    }
  }
}

@media only screen and (max-width: $size-small) {
  .section-about {
    .about-container {
      .about-text {
        margin: 1.25rem 1.25rem 0 1.25rem;
      }
    }
  }
}
